:root {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: white;
    background-color: #2a313d;
    --slate: #2a313d;
    --seafoam: #88bdb8;
}

body {
    height: auto;
    width: 100%;
}

header {
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    background-image: url(../images/blue-code.jpg);
}

header h1 {
    display: flex;
    flex-wrap: wrap;
    font-size: 36px;
    background-color: var(--seafoam);
    padding: 10px 10px 10px 100px;
    margin: 0px;
    color: var(--slate);
}

nav {
    display: inline-block;
    padding-top: 20px;
    margin-right: 20px;
    float: right;
    display: flex;
    flex-wrap: wrap;
}

nav ul {
    display: flex;
    margin-block-start: 1em;
    margin-inline-end: 1em;
    margin-inline-start: 0;
    margin-inline-end: 0;
    position: relative;
    background-color: var(--seafoam);
    height: 30px;
    text-align: center;
}

nav li {
    display: list-item;
    text-align: right;
    padding: 5px 5px 5px 10px;
    font-weight: bold;
    margin: 5px;
    margin-top: 0px;
}

nav a {
    color: var(--slate);
    text-decoration: none;
}

.menu {
    position: absolute;
    padding: 0px;
    right: 0px;
    color: var(--seafoam);
}

main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.hero {
    height: 300px;
    width: 100%;
    margin-bottom: 20px;
    background-image: url(../images/ben-and-oakley.png);
    background-size: cover;
    background-position: top;
    display: flex;
    position: relative;
}

.hero h2 {
    position: absolute;
    display: flex;
    height: 5%;
    font-size: 125%;
    font-weight: bold;
    padding: 1em;
    margin: 200px 0 0 0;
    align-items: center;
    background-color: var(--seafoam);
    color: var(--slate);
    right: 0px;
}

section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 80%;
}

section h1 {
    flex-basis: 20%;
    font-size: 150%;
    text-decoration: solid;
    text-align: justify;
}

.about-me, .projects, .contact{
    flex-basis: 80%;
}

.about-me p {
    margin: 3px;
    padding: 3px;
    line-height: 1.5em;
}

.card {
    border: 5px solid var(--seafoam);
    border-radius: 2px;
    box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.5s;
    margin: 1.5%;
    height: 200px;
    flex: 1 1 45%;
    min-width: 255px;
    display: flex;
    justify-content: left;
    align-items: flex-end;
    position: relative;
}

.card:hover {
    border-radius: 25px;
    transform: scale(0.9);
}

.card h3 {
    position: absolute;
    background-color: var(--seafoam);
    color: var(--slate);
    padding: 10px;
    bottom: 10px;
    left: 10px;
}

#project-1 {
    background-image:  url(../images/digital-marketing-meeting.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    height: 500px;
}

#project-2 {
    background-image:  url(../images/password-generator.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
}

#project-3 {
    background-image:  url(../images/coding-quiz.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
}

#project-4 {
    background-image:  url(../images/day-planner.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    display: flex;
}

#project-5 {
    background-image:  url(../images/pepper-plant.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
}

.contact ul {
    display: flex;
    margin-block-start: 1em;
    margin-inline-end: 1em;
    margin-inline-start: 0;
    margin-inline-end: 0;
    flex-direction: row;
    position: relative;
    background-color: var(--seafoam);
    height: 30px;
    text-align: center;
}

.contact a {
    display: flex;
    text-align: center;
    padding: 5px;
    font-weight: bold;
    margin: auto;
    margin-bottom: 0px;
    list-style-type: none;
    padding-inline-start: 20px;
}

footer {
    display: flex;
    border: 2px solid var(--seafoam);
    padding: 10px;
    margin: 5px;
}


@media screen and (max-width:769px) {
    nav ul {
        height: 50px;
        flex-direction: row;
        text-align: center;
        float: none;
    }
}

/* @media screen (max-width:769px) {
    .hero {
        
    }
}
